@import "../base.css";

.modal-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:1;
  pointer-events: auto;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.modal-div > div {
  background: #fff;
  position: relative;
  margin: 10% auto;
  padding: 5px;
}

.modal-div > div.peb-error-panel {
  width: 600px;
  padding: 20px;
  font-family: $font1;
  .peb-buttons {
    padding: 5px;
  }
}
