@import "../../base.css";

.peb-login-account {
  label {
    font-family: $font1;
    width: 150px;
    text-align: right;
    display: inline-flex;
  }
  .row {
    margin-bottom: 10px;
    text-align: center;
  }
  .form-control {
    width: 400px;
  }
}

@media screen and (max-width: 700px) {
  .peb-login-account {
    .form-control {
      width: 90%;
    }
  }
}

