.peb-user-picker-panel {
  width: 400px;
  background: #fff;
  padding: 10px;
  margin: 100px auto;
  max-height: 350px;
  overflow: scroll;
  h3 {
    text-align: center;
  }
  .peb-input {
    margin-bottom: 10px;
  }
}
